APScheduler
composio
composio_langchain
Flask
flask-cors
google_api_python_client
google_auth_oauthlib
google_generativeai
keybert
langchain
langchain_community
langchain_google_genai
langchain_openai
numpy
pandas
plotly
protobuf
pydub
pymongo
python-dotenv
pytz
scikit_learn
spacy
SpeechRecognition
textblob
transformers
vaderSentiment